.header img {
 position: absolute;
 width: 180px;
 height: 180px;
 left: 70px;
 top: 70px;
}

.header p {
 position: relative;
 top: 55px;
 left: 250px;
 font-size: 55px;
 font-weight: bold;
}

.header h3 {
 position:relative;
 top: 0px;
 left: 250px;
}

.header h4 {
 position: absolute;
 top: 100px;
 left: 260px;
}

.footer img  {
 position: absolute;
 width: 250px;
 height: 250px;
 top: 2600px;
 left: 400px;
}

.ft {
 position: absolute;
 top: 2630px;
 left: 700px;
} 

h3.in {
 border-style: solid;
 border-width: 5px;
 border-color: #ffffff;
 background-color: #ffffff;
 margin: 180px 50px 0px 50px;
 padding: 10px;
 border-radius: 50px;
 text-align: center;
 color: black;
}

p.in {
 border-style: solid;
 border-width: 5px;
 border-color: #ffffff;
 border-radius: 20px;
 color: black;
 background-color: #ffffff;
 margin: 0px 50px 0px 50px;
 margin-bottom: 15px;
 padding: 30px 55px;
 text-align: center;
}

h3.bg {
 border-style: solid;
 border-width: 5px;
 border-color: #ffffff;
 background-color: #ffffff;
 margin: 180px 50px 0px 50px;
 padding: 10px;
 border-radius: 50px;
 text-align: center;
 color: black;
}

p.bg {
 border-style: solid;
 border-width: 5px;
 border-color: #ffffff;
 border-radius: 20px;
 color: black;
 background-color: #ffffff;
 margin: 0px 50px 0px 50px;
 margin-bottom: 15px;
 padding: 20px 55px;
 text-align: center;
}

h3.mis {
 border-style: solid;
 border-width: 5px;
 border-color: #000000;
 background-color: #000000;
 margin: 180px 900px 0px 

80px;
 padding: 5px;
 border-radius: 50px;
 text-align: center;
 color: white;
}

p.mis {
 border-style: solid;
 border-width: 5px;
 border-color: #000000;
 border-radius: 20px;
 color: white;
 background-color: #000000;
 margin: 0px 900px 0px 80px;
 margin-bottom: 15px;
 padding: 20px 55px;
 text-align: center;
}

h3.his {
 border-style: solid;
 border-width: 5px;
 border-color: #ffffff;
 background-color: #ffffff;
 margin: 50px 350px 0px;
 padding: 5px 20px;
 border-radius: 50px;
 text-align: center;
 color: black;
}

p.his {
 border-style: solid;
 border-width: 5px;
 border-color: #ffffff;
 background-color: #ffffff;
 margin: 0px 350px 0px;
 margin-bottom: 200px;
 padding: 5px 20px;
 border-radius: 50px;
 text-align: center;
 color: black;
}

h3.vis {
 border-style: solid;
 border-width: 5px;
 border-color: #000000;
 background-color: #000000;
 margin: 180px 50px 0px 50px;
 padding: 5px;
 border-radius: 50px;
 text-align: center;
 color: white;
}

p.vis {
 border-style: solid;
 border-width: 5px;
 border-color: #000000;
 border-radius: 20px;
 color: white;
 background-color: #000000;
 margin: 0px 50px 0px 50px;
 margin-bottom: 15px;
 padding: 60px 55px 80px;
 text-align: center;
}

h3.core {
 border-style: solid;
 border-width: 5px;
 border-color: #000000;
 background-color: #000000;
 margin: 100px 250px 0px;
 padding: 5px;
 border-radius: 50px;
 text-align: center;
 color: white;
}

p.core {
 border-style: solid;
 border-width: 5px;
 border-color: #000000;
 border-radius: 20px;
 color: white;
 background-color: #000000;
 margin: 0px 250px;
 margin-bottom: 100px;
 padding: 10px 55px;
 text-align: center;
}

#mis {
 position: absolute;
 top: 1150px;
 left: 20px;
 right: 30px;
}

#hymn {
 position: absolute;
 top: 1250px;
 left: 190px;
}

#vis {
 position: absolute;
 top: 1155px;
 left: 900px;
 right: 50px;
}

#core {
 position: absolute;
 top: 1850px;
 right: 100px;
 left: 100px;
}

#bg {
 position: absolute;
 top: 600px;
 right: 50px;
 left: 50px;
}

#prof {
 position: absolute;
 top: 350px;
 right: 50px;
 left: 50px;
}

#but {
 position: absolute;
 top: 2180px;
 left: 150px;
 right: 150px;
 background-color: #ffffff;
 border-radius: 50px;
}
